* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}

body {
  background: #555555;
}

.navbar {
  background: linear-gradient(#000000, #333333);
  justify-content: center;
  padding: 20px;
  overflow: hidden;
  text-align: center;
  justify-content: center;
}

#activepage {
  color: rgb(126, 156, 255);
  font-weight: bold;
}

.navitems {
  display: inline;
  padding: 1%;
  box-sizing: border-box;
}

.headeritems {
  padding-top: 13px;
}

.navlinks {
  color: rgb(160, 27, 236);
  text-decoration: none;
  transition: 0.2s;
  font-weight: bold;
}

.navlinks:hover {
  color: rgb(213, 149, 255);
}

.navlinks:active {
  color: rgb(236, 208, 255);
}

#name {
  font-weight: bold;
  font-size: 24px;
  color: white;
}

.colorbar {
  height: 10px;
  background: linear-gradient(to right, rgb(78, 115, 236), rgb(160, 27, 236));
}

.main {
  margin: 20px;
  border-radius: 15px;
  border-color: #111111;
  border-style: solid;
  border-width: 2px;
  padding: 20px;
  background: white;
  font-size: 0.9rem;
}

#catalog {
  margin-left: 20px;
  line-height: 150%;
}

#spotifyembed {
  border-radius: 15px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #333333;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

::-webkit-scrollbar-thumb:active {
  background: rgb(234, 203, 255);
}
